/*Selection toolbar */
#CurrentSelections {
    position:relative; 
    top:8px; 
    left:0;  
    height:55px;
    float: right;
}
.buttons-end.borderbox {
    width: 45px;
}
.buttons-end.borderbox button:nth-child(2) {
    display: none;
}
.qv-panel-current-selections .qv-selections-pager {
    padding-right: 45px;
}
.current-selections-placeholder {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 83, 82);
    
    color: rgba(255, 255, 255, 0.6);
}
.current-selections-placeholder span {
    display: none;
}

.qv-panel-current-selections .qv-selections-pager {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (max-width: 767px) {
    .buttons.borderbox {
        width: 45px;
    }
    .buttons.borderbox button:nth-child(1), .buttons.borderbox button:nth-child(2) {
        display: none;
    }
    .qv-panel-current-selections .qv-selections-pager {
        padding-left: 45px;
    }
    .col-xs-12{
        margin-bottom: 15px;
    }
    .drawer-title{
        height: 56px !important;
    }
    .row{
        margin-bottom: 0;
    }
}